html{
  background-image: url(../images/genBack.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  animation: design-background;
  animation-duration: 5s;
}

.lifeline-icon{
  cursor: pointer;
}

.player-name{
  font-size: 20px;
  color: antiquewhite;
  vertical-align: top;
  display: inline-block;
  padding-top: 18px;
}

.player-name-cont{
  padding-left: 30px;
  padding-top: 30px;
  font-size: 20px;
  color: antiquewhite;
}

.rewards-modal{
  background-image: url("../images/congrats.gif");
  background-size: 100%;
}

.exit-modal div{
  text-align: center;
}

.exit-modal h2{
  text-align: center;
}

.rewards-modal div, .rewards-modal h2{
  text-align: center;
  font-size: 40px;
  color: antiquewhite;
}

.rewards-modal div img{
  width: 100%;
}

.rewards-collect{
  margin: 0 auto;
}

@keyframes design-background {
 from { opacity: 0 }
 to {opacity: 1 }
}

#collectRewardsModal{
  background: url(../images/backgroud_image.jpeg) no-repeat center center fixed;
}

#collectRewardsModal h2{
  text-align: center;
  color: aliceblue;
}

#collectRewardsForm{
  background-image: linear-gradient(-180deg,rgba(45,174,240, 0.5) 0,rgba(45,174,240,0) 95%);
  opacity: 1;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

#collectRewardsForm div{
  margin: 20px;
  padding: 10px;
}

#collectRewardsForm div span{
  font-size: 20px;
  color: azure;
}

#player-avatar{
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  outline: none;
}

.avengers{
  background-image: url(../images/avengers.jpg);
  border-radius: 50%;
}

/* Table responsive css */

@media only screen and (min-width: 601px) and (max-width: 1040px) {
  .leaveGame a img{
    height: 30px;
    width: 30px;
  }
  .gameIcon img{
    height: 100px;
    width: 100px;
  }
  .rightPanel{
    width: 21%;
    float: left;
  }  
  .amountPointer{
    margin: 0px;
    font-weight: 100;
  } 
  .amountPointer li {
    font-size: 20px;
    padding: 4px 0px 0px 0px;
  }
  .lifelines{
    padding: 20px 0px 0px 10px;
  }
  .lifelines li {
    margin: 5px;
  }
  .lifelines .lifeline-icon a img {
    width: 30px;
    height: 30px;
  }
  .amountPointer{
    padding-left: 6px;
  }
  .leftPanel{
    width: 78%;
    float: left;
  } 
  .question-boxCont{
    padding: 10px;
  }
  .answerBox div .right-ans{
    margin-left: 50px;
  }
}

/* Mobile only viewport */
@media only screen and (min-width: 320px) and (max-width: 680px) {
  .leaveGame a img{
    height: 30px;
    width: 30px;
  }
  .gameIcon img{
    height: 100px;
    width: 100px;
  }
  .rightPanel{
    width: 100%;
  }  
  .amountPointer{
    margin: 0px;
    font-weight: 100;
  } 
  .amountPointer li {
    font-size: 20px;
    padding: 4px 0px 0px 0px;
  }
  .lifelines{
    display: none;
  }
  .lifelines-mob{
    display: block;
    text-align: center;
  }
  .amountPointer{
    padding-left: 6px;
  }
  .leftPanel{
    width: 100%;
  } 
  .question-boxCont{
    padding: 10px;
  }
  .answerBox{
    margin: 40px 10px 0 10px;
  }
  .answerBox .row {
    margin-bottom: 0px;
    text-align: center;
  }
  .answerBox .row .answer-box{
    width: 100%;
    font-size: 16px;
  }

  .answerBox div .right-ans{
    margin: 10px 0 10px 0px;
  }
}